In [1]:
import pandas as pd
pd.options.mode.dtype_backend = 'pyarrow'
import numpy as np
import janitor
import gc
from utilities.utils import get_fulldata
from utilities.graph_utils import save_mpl_fig
from utilities.utils import pandas_to_tex
import matplotlib.pyplot as plt
import matplotlib as mpl
from forestplot import forestplot
import seaborn as sns
import matplotlib.ticker as mtick

sns.set_theme(context="notebook", font_scale=1.5, 
              style='whitegrid', palette='dark') #  Darkgrid Whitegrid Dark White Ticks

import warnings
warnings.filterwarnings('ignore')

usecols = ['name_of_ryot', 'account_no', '6', '7', '8']
df = (get_fulldata(**{'usecols': usecols, 'engine':'pyarrow', 'use_nullable_dtypes':True})
      .rename_columns(new_column_names={"6": "acres", "7": "decimals", "8": "hectare"})
      .assign(tt_area_acre=lambda df: df["acres"]+df["decimals"]/100)
      .query("tt_area_acre>=0")
     )
print(df.shape)
df.head()

(41871011, 6)

   name_of_ryot        account_no  acres  decimals  hectare  tt_area_acre
0  कपिलदेव पाठक  1801010001000002    0.0      66.0      0.0          0.66
1  कपिलदेव पाठक  1801010001000002    0.0       8.0      0.0          0.08
2  कपिलदेव पाठक  1801010001000002    0.0       6.0      0.0          0.06
3  कपिलदेव पाठक  1801010001000002    0.0       3.0      0.0          0.03
4  कपिलदेव पाठक  1801010001000002    0.0      36.0      0.0          0.36

In [2]:
# (df
#  .groupby(["name_of_ryot", "account_no"]).sum().reset_index()
#  .nlargest(int(len(df) * 0.001), "tt_area_acre",)
# ).to_csv("top0.001percent.csv.gz", index=False, compression="gzip")

In [5]:
(df
 .groupby(["name_of_ryot", "account_no"]).sum().reset_index()
 .nlargest(int(len(df) * 0.001), "tt_area_acre",)
).to_csv("top0.001percent.csv", index=False)