In [1]:
import pandas as pd
from naampy import in_rolls_fn_gender

FP = "../data/hindi_names_religion_translated.csv.gz"

2023-04-05 14:20:00.859043: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2023-04-05 14:20:00.859079: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [2]:
df = (pd
      .read_csv(FP, usecols=["name", "eng_name"])
      .assign(firstname=lambda df: df.eng_name.str.split().str[0])
      .dropna(subset=["firstname"])
      .pipe(lambda df: in_rolls_fn_gender(df, "firstname"))
     )
df.head()

Using cached naampy data from local (/home/lsys/.naampy/naampy_v2_1k.csv.gz)...

2023-04-05 14:20:20.980143: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:922] could not open file to read NUMA node: /sys/bus/pci/devices/0000:08:00.0/numa_node
Your kernel may have been built without NUMA support.
2023-04-05 14:20:20.980261: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2023-04-05 14:20:20.980297: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcublas.so.11'; dlerror: libcublas.so.11: cannot open shared object file: No such file or directory
2023-04-05 14:20:20.980324: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcublasLt.so.11'; dlerror: libcublasLt.so.11: cannot open shared object file: No such file or directory
2023-04-05 14:20:20.980351: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcufft.so.10'; dlerror: libcufft.so.10: cannot open shared object file: No such file or directory
2023-04-05 14:20:20.980376: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcurand.so.10'; dlerror: libcurand.so.10: cannot open shared object file: No such file or directory
2023-04-05 14:20:20.980430: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcusolver.so.11'; dlerror: libcusolver.so.11: cannot open shared object file: No such file or directory
2023-04-05 14:20:20.980482: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcusparse.so.11'; dlerror: libcusparse.so.11: cannot open shared object file: No such file or directory
2023-04-05 14:20:20.980514: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudnn.so.8'; dlerror: libcudnn.so.8: cannot open shared object file: No such file or directory
2023-04-05 14:20:20.980521: W tensorflow/core/common_runtime/gpu/gpu_device.cc:1850] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...
2023-04-05 14:20:20.980800: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

,name,eng_name,firstname,n_male,n_female,n_third_gender,prop_female,prop_male,prop_third_gender,pred_gender,pred_prob
0,मुसमात देवकी ओझा,musamat devaki oza,musamat,NaN,NaN,NaN,NaN,NaN,NaN,female,0.745276
1,म.तजमुल हुसैन,matajmul hussain,matajmul,NaN,NaN,NaN,NaN,NaN,NaN,male,0.890539
2,धर्मानाथ झा,dharmanath jha,dharmanath,NaN,NaN,NaN,NaN,NaN,NaN,male,0.870701
3,बेधानन्द झा,bedhaananda jha,bedhaananda,NaN,NaN,NaN,NaN,NaN,NaN,male,0.786089
4,वसोधर झा,vasodhar jha,vasodhar,NaN,NaN,NaN,NaN,NaN,NaN,male,0.887601

In [3]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2995334 entries, 0 to 2995333
Data columns (total 11 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   name               2995334 non-null  object
 1   eng_name           2995334 non-null  object
 2   firstname          2995334 non-null  object
 3   n_male             1087448 non-null  float64
 4   n_female           1087448 non-null  float64
 5   n_third_gender     1087448 non-null  float64
 6   prop_female        1087448 non-null  float64
 7   prop_male          1087448 non-null  float64
 8   prop_third_gender  1087448 non-null  float64
 9   pred_gender        1907886 non-null  object
 10  pred_prob          1907886 non-null  float64
dtypes: float64(7), object(4)
memory usage: 251.4+ MB

In [4]:
random_sample = df.sample(n=100, random_state=0)
random_sample.to_csv("docs/predict_gender_sample100.csv", index=False)
random_sample.head(3)

,name,eng_name,firstname,n_male,n_female,n_third_gender,prop_female,prop_male,prop_third_gender,pred_gender,pred_prob
1258672,"नरेन्‍द्र ,मटु,संजय सोरेन",narendra manjay soren,narendra,38016.0,13886.0,0.0,0.267543,0.732457,0.0,NaN,NaN
1924501,श्री किस्कु उराँव,shri kisku uraon,shri,2443.0,855.0,0.0,0.259248,0.740752,0.0,NaN,NaN
2117865,गुलाबी वास,gulabi was,gulabi,22.0,1148.0,0.0,0.981197,0.018803,0.0,NaN,NaN

In [5]:
df.to_csv('../data/hindi_eng_names_gender.csv.gz', index=False, compression="gzip")