In [ ]:
import pandas as pd
from naampy import in_rolls_fn_gender

import warnings
warnings.filterwarnings('ignore')

# FP = "../data/hindi_names_religion_translated.csv.gz"
FP = "temp_hindi_names_religion_translated.parquet"

2026-01-07 09:24:51.850265: I tensorflow/core/util/port.cc:111] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2026-01-07 09:24:52.516796: E tensorflow/compiler/xla/stream_executor/cuda/cuda_dnn.cc:9342] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2026-01-07 09:24:52.516844: E tensorflow/compiler/xla/stream_executor/cuda/cuda_fft.cc:609] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2026-01-07 09:24:52.519831: E tensorflow/compiler/xla/stream_executor/cuda/cuda_blas.cc:1518] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2026-01-07 09:24:52.779257: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI AVX512_BF16 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [17]:
df = pd.read_parquet(FP, columns=["name", "eng_name"])
df.info(show_counts=True)
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3193161 entries, 0 to 3193160
Data columns (total 2 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   name      3193161 non-null  object
 1   eng_name  3193161 non-null  object
dtypes: object(2)
memory usage: 48.7+ MB

                                   name                            eng_name
0                          कपिलदेव पाठक                     kapildev pathak
1                            किशोरी राय                         kishori ray
2                            किताब महतो                        kitab mahato
3                             जगदेव राय                        jagadeva ray
4                              अकलु राय                           akalu ray
...                                 ...                                 ...
3193156                   चरीत्तर चौधरी                  charitar chaudhuri
3193157      विहार ग्राम उधोग संघ सरैया   vihar gramba udhoug sangh saraiya
3193158  बिहार सरकार कृषी विभाग वीजगुणा  bihar sarkar krishi vibhag vijguna
3193159                      मु मंचनिया                       mu manchaniya
3193160                     मु मंचनियां                      mu manchaniyan

[3193161 rows x 2 columns]

In [18]:
df.query("eng_name!=eng_name")

Empty DataFrame
Columns: [name, eng_name]
Index: []

In [19]:
df.query("eng_name==''")

                              name eng_name
179952               हबिबुलालातामा
292062        जनेशवरयादवकमेशवरयादव
292373      नवदीपसावश्यामसुन्दरसाव
292555           धनंजयरामरामराजराम
302173                 वेछुस्गिह्स
...                            ...      ...
3031161         गणेशलक्ष्मणशिवपुजन
3070981  संस्कॄतप्राथमिक़मध्यविधालय
3071591                       युग़ल
3081382   मन्दिऱश्रीश्रीश्रीशंकऱ
3086482                  बूलाकॣभगत

[115 rows x 2 columns]

In [21]:
df = (
    df
    .query("eng_name!=''")
    .assign(firstname=lambda df: df.eng_name.str.split().str[0])
)
df.info(show_counts=True)
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 3193046 entries, 0 to 3193160
Data columns (total 3 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   name       3193046 non-null  object
 1   eng_name   3193046 non-null  object
 2   firstname  3193046 non-null  object
dtypes: object(3)
memory usage: 97.4+ MB

           name         eng_name firstname
0  कपिलदेव पाठक  kapildev pathak  kapildev
1    किशोरी राय      kishori ray   kishori
2    किताब महतो     kitab mahato     kitab
3     जगदेव राय     jagadeva ray  jagadeva
4      अकलु राय        akalu ray     akalu

In [25]:
df = (
    df
    .drop_duplicates("firstname")
    .pipe(lambda df_: in_rolls_fn_gender(df_, "firstname"))
)
df.info(show_counts=True)
df.head()

Using cached naampy data from local (/home/lsys/.naampy/naampy_v2_1k.csv.gz)...

2026-01-07 10:03:35.400954: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2026-01-07 10:03:35.427766: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2026-01-07 10:03:35.428004: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2026-01-07 10:03:35.428018: W tensorflow/core/common_runtime/gpu/gpu_device.cc:2303] TensorFlow was not built with CUDA kernel binaries compatible with compute capability 12.0. CUDA kernels will be jit-compiled from PTX, which could take 30 minutes or longer.
2026-01-07 10:03:35.430668: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2026-01-07 10:03:35.430890: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2026-01-07 10:03:35.431089: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2026-01-07 10:03:35.431101: W tensorflow/core/common_runtime/gpu/gpu_device.cc:2303] TensorFlow was not built with CUDA kernel binaries compatible with compute capability 12.0. CUDA kernels will be jit-compiled from PTX, which could take 30 minutes or longer.
2026-01-07 10:03:35.944608: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2026-01-07 10:03:35.944851: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2026-01-07 10:03:35.944882: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1977] Could not identify NUMA node of platform GPU id 0, defaulting to 0.  Your kernel may not have been built with NUMA support.
2026-01-07 10:03:35.945090: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2026-01-07 10:03:35.945348: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1886] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 5133 MB memory:  -> device: 0, name: NVIDIA GeForce RTX 5060, pci bus id: 0000:01:00.0, compute capability: 12.0
2026-01-07 10:03:41.888266: I tensorflow/compiler/xla/stream_executor/cuda/cuda_dnn.cc:442] Loaded cuDNN version 8700
2026-01-07 10:03:45.849396: I tensorflow/tsl/platform/default/subprocess.cc:304] Start cannot spawn child process: No such file or directory
2026-01-07 10:03:45.864145: W tensorflow/compiler/xla/stream_executor/gpu/asm_compiler.cc:231] Falling back to the CUDA driver for PTX compilation; ptxas does not support CC 12.0
2026-01-07 10:03:45.864181: W tensorflow/compiler/xla/stream_executor/gpu/asm_compiler.cc:234] Used ptxas at /home/lsys/land/venv_land/lib/python3.10/site-packages/tensorflow/python/platform/../../../nvidia/cuda_nvcc/bin/ptxas
2026-01-07 10:03:45.864256: W tensorflow/compiler/xla/stream_executor/gpu/redzone_allocator.cc:322] UNIMPLEMENTED: /home/lsys/land/venv_land/lib/python3.10/site-packages/tensorflow/python/platform/../../../nvidia/cuda_nvcc/bin/ptxas ptxas too old. Falling back to the driver to compile.
Relying on driver to perform ptx compilation.
Modify $PATH to customize ptxas location.
This message will be only logged once.
2026-01-07 10:04:12.039186: I tensorflow/tsl/platform/default/subprocess.cc:304] Start cannot spawn child process: No such file or directory
2026-01-07 10:04:12.042445: W tensorflow/compiler/mlir/tools/kernel_gen/transforms/gpu_kernel_to_blob_pass.cc:191] Failed to compile generated PTX with ptxas. Falling back to compilation by driver.

   93/12027 [..............................] - ETA: 19s

2026-01-07 10:04:19.544168: W tensorflow/compiler/mlir/tools/kernel_gen/transforms/gpu_kernel_to_blob_pass.cc:191] Failed to compile generated PTX with ptxas. Falling back to compilation by driver.

12027/12027 [==============================] - 69s 2ms/step

2026-01-07 10:04:45.963103: E tensorflow/core/kernels/gpu_utils.cc:90] Detected cudnn out-of-bounds write in convolution buffer! This is likely a cudnn bug. We will skip this algorithm in the future, but your GPU state may already be corrupted, leading to incorrect results. Within Google, no action is needed on your part. Outside of Google, please ensure you're running the latest version of cudnn. If that doesn't fix the problem, please file a bug with this full error message and we'll contact nvidia.
2026-01-07 10:04:45.963159: E tensorflow/core/kernels/gpu_utils.cc:98] Redzone mismatch in RHS redzone of buffer 0x1308431700 at offset 2449536; expected ffffffffffffffff but was 3d44b12f.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390653 entries, 0 to 390652
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   name               390653 non-null  object
 1   eng_name           390653 non-null  object
 2   firstname          390653 non-null  object
 3   n_male             5813 non-null    float64
 4   n_female           5813 non-null    float64
 5   n_third_gender     5813 non-null    float64
 6   prop_female        5813 non-null    float64
 7   prop_male          5813 non-null    float64
 8   prop_third_gender  5813 non-null    float64
 9   pred_gender        384840 non-null  object
 10  pred_prob          384840 non-null  float32
dtypes: float32(1), float64(6), object(4)
memory usage: 31.3+ MB

,name,eng_name,firstname,n_male,n_female,n_third_gender,prop_female,prop_male,prop_third_gender,pred_gender,pred_prob
0,कपिलदेव पाठक,kapildev pathak,kapildev,NaN,NaN,NaN,NaN,NaN,NaN,male,0.874621
1,किशोरी राय,kishori ray,kishori,NaN,NaN,NaN,NaN,NaN,NaN,female,0.586941
2,किताब महतो,kitab mahato,kitab,NaN,NaN,NaN,NaN,NaN,NaN,male,0.831648
3,जगदेव राय,jagadeva ray,jagadeva,NaN,NaN,NaN,NaN,NaN,NaN,male,0.911683
4,अकलु राय,akalu ray,akalu,7091.0,93.0,0.0,0.012945,0.987055,0.0,NaN,NaN

In [29]:
df.query("pred_gender!=pred_gender")

,name,eng_name,firstname,n_male,n_female,n_third_gender,prop_female,prop_male,prop_third_gender,pred_gender,pred_prob
4,अकलु राय,akalu ray,akalu,7091.0,93.0,0.0,0.012945,0.987055,0.0,NaN,NaN
6,जानकी सिंह,janki singh,janki,536.0,5069.0,0.0,0.904371,0.095629,0.0,NaN,NaN
8,जमादार राय,jamaadaar ray,jamaadaar,22511.0,20563.0,0.0,0.477388,0.522612,0.0,NaN,NaN
9,ठाकुर प्रसाद सिंह,thakur prasad singh,thakur,1786.0,250.0,0.0,0.122790,0.877210,0.0,NaN,NaN
14,जनक राय,janak ray,janak,30617.0,30411.0,0.0,0.498312,0.501688,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
389740,जग्रना़ाथ साह,jagranaath sah,jagranaath,3561.0,24.0,0.0,0.006695,0.993305,0.0,NaN,NaN
390111,मआ सिह,maa siha,maa,157428.0,2990.0,0.0,0.018639,0.981361,0.0,NaN,NaN
390204,गिराधर हजरा,giradhar hazra,giradhar,7582.0,520.0,0.0,0.064182,0.935818,0.0,NaN,NaN
390519,पलली मिया,palli miya,palli,1079.0,905.0,0.0,0.456149,0.543851,0.0,NaN,NaN
390566,सम्पदा देवी,sampada devi,sampada,977.0,1388.0,0.0,0.586892,0.413108,0.0,NaN,NaN

In [31]:
# fill in pred_gender (for those in rolls)
mask = df["pred_gender"].isna()

df.loc[mask & (df["prop_female"] > 0.5), "pred_gender"] = "female"
df.loc[mask & (df["prop_female"] <= 0.5), "pred_gender"] = "male"
df

In [3]:
# random_sample = df.sample(n=100, random_state=0)
# random_sample.to_csv("docs/predict_gender_sample100.csv", index=False)
# random_sample.head(3)

In [33]:
df.to_csv('../data/hindi_eng_names_gender.csv.gz', index=False, compression="gzip")