In [1]:
import pandas as pd
pd.set_option('display.max_columns', 50)
import janitor
from utilities.utils import get_fulldata
from indicate import transliterate

usecols = ['name_of_ryot', 'residence', 'district', 'division', 'caste', 'mouza', 'account_no', '6', '7', '8']
df = (get_fulldata(**{'usecols':usecols})
      .assign(tt_area_acre=lambda df: df['6']+df['7']/100+df['8']*2.4711)
#       .remove_columns(['6', '7', '8'])
     )
     
df.shape

(41871025, 11)

In [31]:
from indicate import transliterate

In [2]:
df.head()

,name_of_ryot,residence,caste,district,division,mouza,account_no,6,7,8,tt_area_acre
0,मुसमात देवकी ओझा,"जमुआ,,,",NaN,अररिया,अररिया,फुलवाड़ी,701010001000008,8.0,52.5,0.0,8.525
1,म.तजमुल हुसैन,"दहगामा,,,",NaN,अररिया,अररिया,फुलवाड़ी,701010001000003,0.0,56.0,0.0,0.560
2,म.तजमुल हुसैन,"दहगामा,,,",NaN,अररिया,अररिया,फुलवाड़ी,701010001000003,0.0,0.0,0.0,0.000
3,धर्मानाथ झा,"पोठीया,,,",NaN,अररिया,अररिया,फुलवाड़ी,701010001000010,0.0,0.0,0.0,0.000
4,बेधानन्द झा,"पोठीया,,,",NaN,अररिया,अररिया,फुलवाड़ी,701010001000014,0.0,0.0,0.0,0.000

In [3]:
# 12,127,297 account holders
df.account_no.nunique()

12127297

In [58]:
for district in df.district.unique():
    english_translated = transliterate.hindi2english(district)
    print(english_translated)

araria
araval
aurangabad
katihar
kishenganj
camor
khagriya
gaya
gopalganj
jamui
jahanabad
darbhanga
navada
nalanda
patna
pashchim champaran
purniyaaayaaon
purvi champaran
bucksre
banka
begusaray
bhagalpur
bhojpur
madhubani
madhepura
munger
muzfarpur
rohtas
lakhisarai
vaishali
shivahar
shekhpura
samastipur
saharsa
saran
sivan
sitamadhi
supaul

In [32]:
df.residence.nunique()

830567

In [57]:
_df = df.head(100).drop_duplicates("residence", ignore_index=True)
for i in range(10):
    english_translated = transliterate.hindi2english(_df.loc[i, "residence"])
    print(english_translated)

jamua
dahgama
pothiya
ramangar

pothi
phulwari
phulwari
belwari
bailvari

In [5]:
df.division.nunique()

505

In [55]:
_df = df.drop_duplicates("division", ignore_index=True)
for i in range(10):
    english_translated = transliterate.hindi2english(_df.loc[i, "division"])
    print(english_translated)

araria
jokihat
palasi
sikati
kursakanta
foribisgangen
raniganj
narpatganj
bhargama
araval

In [6]:
df.mouza.nunique()

26052

In [56]:
_df = df.drop_duplicates("mouza", ignore_index=True)
for i in range(10):
    english_translated = transliterate.hindi2english(_df.loc[i, "mouza"])
    print(english_translated)

phulwari
kismat jamua
gilhwari
khamgamaga
jamua
sharanpur
damada jagir
dabhara
tarabadi
jitwarpur

In [7]:
# 2,973,115 records with non-positive land areas
len(df.query("tt_area_acre<=0"))

2973115

In [8]:
# 95,553 account holders with non-positive land areas
len(df.groupby("account_no")["tt_area_acre"].sum().reset_index().query("tt_area_acre<=0"))

95553

In [30]:
# castes
df_castes = (df
             .groupby('caste').size().reset_index()
             .rename_column(0, "count")
             .sort_values("count", ascending=False)
             .reset_index(drop=True)
            )
print(len(df_castes))
print(df_castes.head(25).to_markdown())

76517
|    | caste         |   count |
|---:|:--------------|--------:|
|  0 | यादव          | 4500844 |
|  1 | राजपुत         | 2151764 |
|  2 | ब्राह्मण        | 1293878 |
|  3 | कुर्मी          | 1225727 |
|  4 | शेख            | 1039915 |
|  5 | तेली           |  919487 |
|  6 | मुसलमान        |  818864 |
|  7 | भूमिहार        |  780578 |
|  8 | भुमिहार        |  753912 |
|  9 | राजपूत         |  730700 |
| 10 | कोइरी         |  657407 |
| 11 | कोयरी         |  623744 |
| 12 | दुसाध          |  493008 |
| 13 | चमार          |  451610 |
| 14 | ब्राहमण        |  427909 |
| 15 | ग्‍वाला         |  405472 |
| 16 | कोईरी         |  399645 |
| 17 | अहीर          |  367962 |
| 18 | भुमिहार ब्राह्मण |  332422 |
| 19 | ग्वाला         |  326920 |
| 20 | धानुक          |  301590 |
| 21 | -             |  282192 |
| 22 | कुशवाहा        |  260403 |
| 23 | भुमिहार ब्राहमण |  232781 |
| 24 | कहार          |  208142 |

In [10]:
# import winsound
# frequency = 2500  # Set Frequency To 2500 Hertz
# duration = 1000  # Set Duration To 1000 ms == 1 second
# winsound.Beep(frequency, duration)